{% comment %}
Tawk.to Live Chat Widget
Property ID: 69c1f2a729e9681c3d64de5d  |  Widget ID: 1jkepnodo
Include this fragment at the very end of <body> on every page.
{% endcomment %}
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
    try {
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/69c1f2a729e9681c3d64de5d/1jkepnodo';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s1.onerror=function(){
            console.error('Tawk.to widget failed to load');
        };
        s0.parentNode.insertBefore(s1,s0);
    } catch(e){
        console.error('Tawk.to initialization error:',e);
    }
})();
</script>
